VITE_SUPABASE_URL=https://nsetkbsbadllihqhmjud.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5zZXRrYnNiYWRsbGlocWhtanVkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjM4MTYxNzQsImV4cCI6MjA3OTM5MjE3NH0.1ndeZVyg8tlLn5LE48qOphQGruh-uqGkhHX2DVfb3fI